
.Principal-Sorveteria{
    background-image:url('../../public/sorvetes.jpg');
    
    margin: 5vh 15vh 30vh;
   
    .Sorveteria{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    .Fundo{
        background-color: rgba($color: #fff, $alpha: 0.7);
        background-repeat: no-repeat;
        margin: 10vh 5vh 20vh 45vh;
        width: 75vh;
        display: flex;
        flex-direction: column;
        height: 80vh;

        }

        .Titulo{
            display: flex;
  flex-direction: column;
    
        }

        .Botao{
        width: 20vh;
       color: black;
        }
}
    