
.Principal-Sorveteria{
    background-image:url('../../public/sorvetes.jpg');
    align-items: center;
    justify-content: center;
    margin: 5vh 15vh 30vh;
   
    .Sorveteria{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    }
    .Fundo-Sorveteria{
        background-color: rgba($color: #fff, $alpha: 0.7);
        background-repeat: no-repeat;
        margin: 10vh 5vh 20vh 50vh;
        width: 75vh;
        display: flex;
        flex-direction: column;
        height: 80vh;

        }

       
        
}
    